*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

img{
  width: 30vw;
}

button{
  padding: 10px 20px !important;
}

@media (max-width: 768px) {
  img{
    width: 50vw;
  }
  nav{
    flex-direction: column;
  }
}